---
layout: policies
title: The Bancorp Bank Photo Check Deposit Limits and Funds Availability
category: Simple Accounts supported by The Bancorp Bank
effective_date: 09 November, 2013
---

<div class="policy">

<table>

  <tr>
    <thead>
    <th></th>
    <th>Per-Check Limit</th>
    <th>Funds Availability</th>
    </thead>
  </tr>

  <tr>
    <td>If your account has been open fewer than 30 days</td>
    <td>$2,000</td>
    <td>
      Nine business days after deposit is processed</br>
      </br>
      May be subject to additional holds</td>
  </tr>

  <tr>
    <td>If your account has been open more than 30 days</td>
    <td>
      $2,000 for first five checks</br>
      $3,000 thereafter
    </td>
    <td>
      Up to $200 one business day after deposit is processed</br>
      </br>
      Any remainder available the following business day</br>
      </br>
      May be subject to additional holds
    </td>
  </tr>

  <tr>
    <td>Checks larger than $3,000</td>
    <td>Deposit by mail*</td>
    <td>May be subject to additional holds</td>
  </tr>

</table>

<table>
  <td style="width:291px;">Other Photo Check Deposit limits</td>

  <td style="width:489px;">
    $5,000 per day </br>
    5 checks per day</br>
    10 checks per week</br>
    15 checks over last 30 days</br>
    </br>
    These limits do not apply to deposits made by mail*
  </td>
</table>

    <dl class="address">
      <dt>*Deposit by mail to:</dt>
      <dd class="offset">Simple</dd>
      <dd class="offset">PO Box 15329</dd>
      <dd class="offset">Wilmington, DE 19885-5329</dd>
    </dl>

</div>
