---
layout: policies
title: BBVA Compass Photo Check Mobile Deposit Limits and Funds Availability
category: Simple Accounts supported by BBVA Compass
effective_date: 25 October, 2016 
---

<div class="policy">

<table>

  <tr>
    <thead>
    <th></th>
    <th>Per-Check Limit</th>
    <th>Funds Availability</th>
    </thead>
  </tr>

  <tr>
    <td>If your account has been open fewer than 30 days</td>
    <td>$2,000</td>
    <td>
      Nine business days after deposit is processed</br>
      </br>
      May be subject to additional holds</td>
  </tr>

  <tr>
    <td>If your account has been open more than 30 days</td>
    <td>
      $2,000 for first five checks</br>
      $3,000 thereafter
    </td>
    <td>
      One business day after deposit is processed</br>
      </br>
      May be subject to additional holds
    </td>
  </tr>

  <tr>
    <td>Checks larger than $3,000</td>
    <td>Deposit by mail*</td>
    <td>May be subject to additional holds</td>
  </tr>

</table>

<h3>Individual Accounts</h3>

<table>
  <td style="width:291px;">Other Photo Check Deposit limits</td>

  <td style="width:489px;">
    $5,000 per day </br>
    5 checks per day</br>
    10 checks per week</br>
    15 checks over last 30 days</br>
    </br>
    These limits do not apply to deposits made by mail*
  </td>
</table>

<h3>Shared Accounts</h3>

<table>
  <td style="width:291px;">Other Photo Check Deposit limits</td>

  <td style="width:489px;">
    $7,500 per day </br>
    8 checks per day</br>
    15 checks per week</br>
    24 checks over last 30 days</br>
    </br>
    These limits do not apply to deposits made by mail*
  </td>
</table>

<h5>By US Mail:</h5>
<dl class="address">
  <dt>BBVA Compass</dt>
  <dt>Bank by Mail</dt>
  <dt>P.O. Box 515</dt>
  <dt>Birmingham, AL  35201-0515</dt>
</dl>

<br />
<p class="bold">Or</p>

<h5>Via Overnight Delivery:</h5>
<dl class="address">
  <dt>BBVA Compass</dt>
  <dt>Attention: Bank by Mail Department</dt>
  <dt>701 32nd Street South</dt>
  <dt>Birmingham, AL  35233</dt>
</dl>

</div>
