---
layout: policies
title: CheckFreePay Privacy Policy
---

<h5>for Bill Payment and Presentment Services</h5>

<p class="small-type outline">Effective <time>August 6th, 2014</time></p>

<p>
  Bill Payment and Presentment (if available) Services are provided by CheckFreePay Corporation (for residents of all states except California and New York), CheckFreePay Corporation of California (for California residents only), and CheckFreePay Corporation of New York (for New York residents only), each an indirect wholly owned subsidiary of Fiserv, Inc. In this Policy, "CheckFreePay" or "we" or "us" refers to the operator applicable to you.
</p>

<dl>

<dt>1. Introduction.</dt>
<dd>
  This Privacy Policy describes the types of "Personal Information" (information that is identifiable to a particular person) that is collected (directly or through our service providers) in connection with the Bill Payment and Presentment Services (collectively the "Services"), offered by us through the website at https://www.simple.com or mobile application (the "Site") and how that Personal Information is used, shared and protected. Some of this information is required by U.S. federal or other law. You understand and agree that we do not operate the Site through which the Services are offered, and separate terms and conditions and other notices and disclosures apply to the Site.
</dd>

<dt>2. Eligibility.</dt>
<dd>
  We do not knowingly offer the Services to nor collect any Personal Information from or about individuals under 18 years of age. Please do not submit such information to us, and as a parent or legal guardian, please do not allow your children to submit personal information without your permission. By using the Services, you represent that you meet these requirements and that you agree to the terms of this Privacy Policy.
</dd>

<dt>3. Scope.</dt>
<dd>
  CheckFreePay offers other products and services, some of which are available through other organizations such as banks, credit unions, brokerage firms, Internet portals, and others. This Privacy Policy applies only to the Services offered through the Site. For more details on what your rights and obligations are when using the Services, please also refer to the Terms and Conditions and other notices and disclosures regarding the Services.
</dd>

<dt>4. What Types of Personal Information We May Collect.</dt>
<dd>
  We may collect Personal Information about you depending on the Services you use. This information may include:
  <ol class="lower-alpha">
    <li>Social Security number, date of birth, name, postal address, email address, telephone number, and other information that we can use to contact you, verify your identity, and manage risks, such as information maintained about you by identity verification services and consumer reporting agencies, including credit bureaus;</li>
    <li>names of billers for bills that you would like to view and/or pay online, contact information for those billers, and billing account information, including billing account numbers;</li>
    <li>bank account information (checking, money market, savings or other direct deposit account, or debit card account ) including and required routing information), including account numbers, account balances and transaction history) for accounts that you designate for sending or receiving payments, fees, debits and credits for the Services;</li>
    <li>name, email address and telephone number that you provide us for other persons to whom you would like to send payments;</li>
    <li>payment and other transaction information, payment information and other transaction history for payments and other transactions in which you participate through the Services; and</li>
    <li>We may also receive additional information about you, including the actions you take in connection with the Services. This data may be used among other uses, to improve the operation of the Services.</li>
  </ol>
</dd>

<dt>5.  How We May Collect Personal Information About You.</dt>
<dd>
  We may collect Personal Information about you from the following sources:
  <ol class="lower-alpha">
    <li>Nonaffiliates and service providers share with us nonpublic personal information about you that you provide to them when you apply for a bank account or when you communicate with them about your bank account or the Services. The types of information they share with us may include your name, address, phone number, email address, date of birth, bank account information, social security number, and any other information you choose to provide.</li>
    <li>Enrollment applications, survey responses, and other electronic or paper forms that you fill out in connection with the Services;</li>
    <li>Your use of the Services (such as when you send a payment), and your interactions with customer care, including information you enter or speak, and information transmitted by your computer, cell phones and other devices you use to connect to the Site and Services; and;</li>
    <li>We also collect Personal Information about you from others, such as individuals using the Services, credit bureaus, Affiliates or other companies (such as identity verification services, consumer reporting agencies, and companies that provide content, such as electronic bills, to the Site, or that use the Services at their sites.</li>
  </ol>
</dd>

<dt>6. How We May Share Personal Information About You.</dt>
<dd>
  We share Personal Information about you only as permitted by law. For Personal Information that is nonpublic and that we collect in connection with a financial service, U.S. federal law permits us to share such information only for purposes shown in the following table:

  <table>

    <tr>
      <thead>
        <th>Reasons we can share your Personal Information</th>
        <th>Does CheckFreePay share?</th>
        <th>Can you limit this sharing?</th>
      </thead>
    </tr>

    <tr>
      <td>For our everyday business purposes - such as to process your transactions, maintain your accounts, respond to court orders and legal investigations, and report to credit bureaus;</td>
      <td>Yes</td>
      <td>No</td>
    </tr>

    <tr>
      <td>For our marketing purposes - to offer our products and services to you;</td>
      <td>Yes</td>
      <td>No</td>
    </tr>

    <tr>
      <td>For Joint Marketing with other financial companies;</td>
      <td>Yes</td>
      <td>No</td>
    </tr>

    <tr>
      <td>For our Affiliates' everyday business purposes (information about your transactions and experiences);</td>
      <td>Yes</td>
      <td>No</td>
    </tr>

    <tr>
      <td>For our Affiliates' everyday business purposes (information about your creditworthiness);</td>
      <td>No</td>
      <td>We Do Not Share</td>
    </tr>

    <tr>
      <td>For our Affiliates to market to you;</td>
      <td>No</td>
      <td>We Do Not Share</td>
    </tr>

    <tr>
      <td>For Nonaffiliates to market to you</td>
      <td>No</td>
      <td>We Do Not Share</td>
    </tr>

  </table>
</dd>

<dt>7. How We May Use Personal Information About You.</dt>
<dd>
  We use Personal Information about you only as permitted by law, including but not limited to the following purposes:
  <ol class="lower-alpha">
    <li>To complete transactions and render services authorized by you (such as sharing the information with an electric company or other biller as necessary to allow the biller to authenticate you, to pay a bill, and to send messages to you related to the authorized products and services);</li>
    <li>Other everyday business purposes, such as to maintain your ability to use the Services, to send you information about the Services, to effect, administer and enforce transactions, to perform fraud screening, to prevent actual or potential fraud and unauthorized transactions, to verify your identity, to determine your credit history, to verify the information contained in your account, to report to credit bureaus (including furnishing delinquent account information), to perform collections, to comply with laws, regulations, court orders and lawful instructions from government agencies, to protect the personal safety of subscribers or the public, to prevent and defend claims, to resolve disputes, to troubleshoot problems, to enforce our Terms and Conditions, to protect our rights and property, and to customize, measure, and improve the Services, and performance analysis of the Services.</li>
  </ol>
</dd>

<dt>8. Other Important Information.</dt>
<dd>
  <p>
    <strong>Vermont:</strong> Under Vermont law, we will not share information we collect about Vermont residents with companies outside of our Affiliates, unless the law allows. We will not share information about your creditworthiness with our Affiliates except with your consent, but we may share information about our transactions or experiences with you with our Affiliates without your consent.
  </p>
  <p>
    <strong>California:</strong> Under California law, we will not share information we collect about you with Nonaffiliates, unless the law allows. For example, we may share information with your consent, to maintain your profiles, to protect against or prevent actual or potential fraud, to comply with federal, state or local laws, rules, or other applicable legal requirements, or to provide rewards or benefits you are entitled to. We will limit sharing among our Affiliates to the extent required by California law.
  </p>
</dd>

<dt>9. Other Important Information.</dt>
<dd>
  <ol class="lower-alpha">
    <li>Affiliates: Companies related by common ownership or control. They can be financial or nonfinancial companies. Our Affiliates include members of the Fiserv, Inc. corporate family including CheckFree Services Corporation and Fiserv Solutions, Inc.</li>
    <li>Nonaffiliates: Companies not related by common ownership or control. They can be financial or nonfinancial companies.</li>
    <li>Joint Marketing: A formal agreement between nonaffiliated financial companies that together market financial products or services to you.</li>
  </ol>
</dd>

<dt>10. How We Protect Personal Information About You.</dt>
<dd>
  To protect Personal Information about you from unauthorized access and use, we maintain physical, electronic, and procedural safeguards, including but not limited to security measures that comply with applicable federal and state laws. We also require our service providers and business partners to whom we disclose the information to do the same.
</dd>

<dt>11. Protection for Former Customers.</dt>
<dd>
  When you are no longer our customer, we continue to protect, use, and share Personal Information about you as described in this notice and as required by law, including but not limited to for risk management, regulatory compliance, and audit purposes.
</dd>

<dt>12. Amendments.</dt>
<dd>
  We may amend this policy at any time by posting a revised version on the Site. The revised version will be effective immediately at the time it is posted unless a delayed effective date is expressly stated therein. You may (in our discretion) also be provided with an email notification of such amendments. You may (in our discretion) be required to affirmatively acknowledge or accept the revised Privacy Policy in order to continue using the Services. Any use of the Services after a notice of change (whether by Site posting, email, or express acknowledgment or acceptance) will constitute your express agreement to such changes.
</dd>

<dt>13. Contacting Us.</dt>
<dd>
  If you have any questions about this Privacy Policy, you may contact us at the postal address or email address below:
  <pre>
    In writing: CheckFreePay Corporation
    ATTN: Privacy Management
    4411 East Jones Bridge Road
    Norcross, GA 30092

    E-mail:privacy@customercenter.net
  </pre>
</dd>

</dl>

<p>If you have any questions about the Services contact customer service at 888-248-0632 or through the Site.</p>