---
layout:policies
title: Compass Truth in Savings Disclosure
---

<h1 class="align-center">Simple Checking&nbsp;Account Disclosure</h1>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>ACCOUNT OPENING AND USAGE</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Minimum Deposit Needed to Open Account</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Monthly Service Charge (Monthly Fee)</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Requirements to Waive Monthly Service Charge</td>
              <td align="right"><strong>n/a</strong></td>
            </tr>
            <tr>
              <td>Interest-Bearing</td>
              <td align="right"><strong>Yes</strong></td>
            </tr>
          </tbody>
        </table>

        <h4>How Interest Is Calculated</h4>
        <p>There is no minimum balance required to earn interest on this account. The daily balance method is used to calculate the interest on the account. This method applies a daily periodic rate to the daily collected balance in the account each day. Interest on deposits begins to accrue no later than the business day on which we receive credit for the deposit. Accrued interest is credited to the balance in the account on the first business day of the following statement cycle. Accrued interest that is credited to the balance in the account begins to earn interest no later than the next business day and compounds with each statement cycle. If you close your account or convert your account to a non-interest earning account before accrued interest, if any, is credited, you will not receive the accrued interest. A taxpayer identification number will be required to earn interest on this account.</p>

        <h4>Interest Rate and Annual Percentage Yield</h4>
        <p>The chart below shows the interest rate and annual percentage yield applicable to the Simple Checking account effective as of [populate date of origination here]. Rates are variable and are subject to change at our discretion. We may change the interest rate for your account at any time. If you have any questions please call 1-888-248-0632.</p>

        <table>
          <tbody>
            <tr>
              <td>Interest Rate</td>
              <td align="right"><strong>0.01%</strong></td>
            </tr>
            <tr>
              <td>Annual Percentage Yield</td>
              <td align="right"><strong>0.01%</strong></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>ATM Fees Charged by Simple</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>For using an ATM in BBVA Compass’ ATM network</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>For using an ATM outside of BBVA Compass’ ATM network<sup>†</sup></td>
              <td align="right"><strong>$0</strong></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <small><sup>†</sup> ATM and/or service fees charged by other banks and ATM owners still may also apply</small>
              </td>
            </tr>
          </tfoot>
        </table>

        <table>
          <tbody>
            <tr>
              <td>Insufficient Funds (NSF) Charge - Returned Item</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Extended Overdraft Penalty Fee</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Deposited Item Returned Fee</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Stop Payment Fee</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Account Closing Fee</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Dormant Account Fee</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Other Service Fees</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
          </tbody>
        </table>

        <h3>OVERDRAFT OPTIONS FOR CONSUMERS WITH DEBIT CARDS</h3>

        <h4>No Overdraft Service</h4>
        <p>ATM and everyday debit card transactions that would cause an overdraft may be declined at no cost to you.</p>

        <h3>PROCESSING POLICIES</h3>

        <h4>
          Posting Order
          <small><em>The order in which withdrawals and deposits are processed</em></small>
        </h4>

        <p>We process and post transactions — both credits (including deposits) and debits — throughout the day. This approach allows us to more closely match the posting of transactions on your account with the timing of your actual account activity.</p>

        <p><strong>Note:</strong> Deposits received and posted late in the day will not cover payments and withdrawals posted earlier the same day.</p>

        <h4>
          Summary of Our Deposit Hold Policy
          <small><em>When funds deposited to your account are usually available for deposits less than $5,000 and absent exceptional circumstances - see the Simple Deposit Account Agreement for a detailed description of our policy.</em></small>
        </h4>

        <ul>
          <li>Direct deposit and wire transfer: same business day as the day of deposit</li>
          <li>Check deposit by mail: same business day as the day of deposit receipt</li>
          <li>If something causes a longer hold on a deposit, the first $200 of that deposit will generally be made available the same business day as the day of deposit.</li>
        </ul>

        <p><em>A "business day" is a non-holiday weekday. At ATMs, business days end no earlier than 8:30 p.m.</em></p>

        <h3>DISPUTE RESOLUTION</h3>

        <h4>Dispute Resolution Agreement</h4>
        <p>If a dispute arises between us, either party may require that it be resolved through arbitration, rather than through jury trial. Please see the arbitration and waiver of jury trial provisions in your Consumer Deposit Account Agreement for additional details.</p>

        <h2>Full Terms and Conditions</h2>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>ACCOUNT OPENING AND MAINTENANCE</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Minimum Opening Deposit</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Monthly Service Charge</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Statement Cycle</td>
              <td align="right"><strong>Monthly</strong></td>
            </tr>
            <tr>
              <td>Dormant Account Fee</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>ATM FEES</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fee charged by Simple for using an ATM in the BBVA Compass ATM network</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Fee charged by Simple for using an ATM outside the BBVA Compass ATM network</td>
              <td align="right"><strong>$0</strong><sup>†</sup></td>
            </tr>
            <tr>
              <td>International Service Fee (ATM)</td>
              <td align="right"><strong>$0</strong><sup>††</sup></td>
            </tr>
            <tr>
              <td>International Service Fee (non-ATM)</td>
              <td align="right"><strong>$0</strong><sup>††</sup></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <small><sup>†</sup> ATM and/or service fees charged by other banks and ATM owners still may also apply </small>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <small><sup>††</sup> VISA charges a 1% International Service Fee on international transactions. We do not charge any Fee.</small>
              </td>
            </tr>
            <tr>
              <td colspan="2" rowspan="2" valign="bottom">
                <small>International Transactions are those transactions using your Debit Card made outside of the United States, even those in US dollars. A full description of the currency conversion process is contained in your Debit Card Agreement.</small>
              </td>
            </tr>
          </tfoot>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>OVERDRAFT / INSUFFICIENT FUNDS FEES</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Insufficient Funds (NSF) Charge - Paid Item</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
            <tr>
              <td>Insufficient Funds (NSF) Charge - Returned Item</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>STOP PAYMENT FEES</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Stop Payment Request (Phone)</td>
              <td align="right"><strong>$0 per request</strong></td>
            </tr>
            <tr>
              <td>Stop Payment Request (Online Banking)</td>
              <td align="right"><strong>$0 per request</strong></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>DEPOSIT FEES</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Deposit Item Returned</td>
              <td align="right"><strong>$0 per item</strong></td>
            </tr>
            <tr>
              <td>Deposit Item Returned (Foreign)</td>
              <td align="right"><strong>$0 per item</strong></td>
            </tr>
            <tr>
              <td>Deposit Item Re-run</td>
              <td align="right"><strong>$0 per item</strong></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>DEBIT CARD FEES</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Replacement Card Fee</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>WIRE TRANSFER FEES (ALL FEES ARE PER TRANSFER)</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Wire Transfer Fees</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>TELEPHONE BANKING FEES</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Staff-Assisted Call</td>
              <td align="right"><strong>$0</strong></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="2">
                <h3>ONLINE AND MOBILE BANKING FEES</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Online Banking</td>
              <td align="right"><strong>No additional charge</strong></td>
            </tr>
            <tr>
              <td>Online and Mobile Bill Pay</td>
              <td align="right"><strong>No additional charge</strong></td>
            </tr>
            <tr>
              <td>Mobile Banking</td>
              <td align="right"><strong>No additional charge</strong></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <small>Message and data rates may apply - check with your wireless provider.</small>
              </td>
            </tr>
          </tfoot>
        </table>

        <h2>Applicable Fees and Service Charges</h2>

        <p>Your account will be subject to the terms and conditions applicable to BBVA Compass accounts in the state where we maintain your account. For purposes of this disclosure and your Simple account opened electronically, your account will be deemed to be maintained in the state of Alabama. For additional terms governing your account, please consult the Simple Deposit Account Agreement.</p>

        <p>We reserve the right to change terms, conditions, and/or pricing of our products upon reasonable prior notification.</p>

        <p>
          <small>
            BBVA Compass is a trade name of Compass Bank, a member of the BBVA Group. Compass Bank, Member FDIC.
          </small>
          <br>
          <small>
            Rev. 2/2016
          </small>
        </p>
