---
layout: policies
title: E-Sign Agreement
---

<h3>You agree to receive electronic communications from us</h3>

<p>Instead of sending you paper statements, disclosures and notices, Simple Finance Technology Corp. (Simple Finance) will send you electronic notices for transactions that are subject to the federal Electronic Signatures in Global and National Commerce Act. By consenting to this agreement, Simple Finance also intends that the Act apply to our ability to conduct business with you by all electronic means, with regards to the delivery of all terms and conditions, notices and disclosures or any other documents that may be required during the business relationship between you and Simple Finance. This includes, but isn&apos;t limited to, Electronic Funds Transfer Disclosures, Electronic Service Agreements and privacy policies.</p>

<h3>You have the right to request paper statements, for a fee</h3>

<p>You will have the right to request any documents covered by this agreement in paper form. To receive a paper copy of any document that has been previously provided to you, please contact customer service at (888) 248-0632. A fee of $5 will be assessed per document requested in paper form. Future notices will continue to be delivered electronically unless specified clearly otherwise.</p>

<h3>The minimum system requirements for accessing your information</h3>

<p>To access the Simple product, you will need:
<ul>
<li>Any mobile device running Apple iOS 5.0+ (iPhone, iPad, or iPod Touch) or Android 4.0.3+ (Ice Cream Sandwich).</li>
<li>A computer capable of running a modern web browser: Firefox 5.0+, Safari 5.0+, Chrome 11+</li>
<li>The ability to view Portable Document Format (PDF) files, such as Adobe Acrobat Reader&reg;, version 5 or higher.</li>
</ul>

<p>Your access to this page verifies that your browser and encryption software meet these requirements.</p>

<p>If a change in these requirements creates a material risk that you will not be able to access or retain electronic records, Simple Finance will provide you with a revised set of requirements. At such time, you will have the right to revoke your consent to receive electronic records without imposition of any condition, consequence, or fee.</p>

<h3>How to withdraw your consent to this agreement</h3>

<p> You have the right to withdraw your consent to this agreement for all electronic information including terms and conditions, notices, disclosures and any other documents. A monthly fee of $10 will be charged should the customer choose to receive notifications and statements in paper form instead of electronically. To update your contact information, please contact Simple Finance at (888) 248-0632.</p>

<h3>Customer consent</h3>

<p>By checking the "I ACCEPT" box, you consent to the electronic delivery of all terms and conditions, notices, disclosures and any other documents. You cannot open this account without acceptance of these disclosures. You confirm that you have access to a computer that satisfies these requirements; you have access to a printer, or the ability to download information, By consenting to electronic delivery you also agree that Simple Finance will not be providing to you any future terms and conditions, notices, disclosures or other documents in paper form unless specifically requested by the means defined in the above paragraph.</p>

<p>You should retain a copy of this disclosure statement and all other disclosures to keep for your records.</p>
