---
layout: policies
title: Events Code of Conduct
---

<p>Hello, and welcome to Simple HQ! Our goal in opening up this event space is to foster collaboration within the local tech community, and provide a space where ideas can be shared, built upon, and then set free out into the world. We believe that inclusivity doesn’t end where Federal law leaves off, and that everyone deserves access to such a space, regardless of whether a person is a protected class of citizen, or if they just happen to be a bit different from the mainstream. We are dedicated to providing an inclusive and harassment-free experience for everyone.</p>

<p>Organizers, staff, speakers, vendors, and all other attendees at events organized by Simple or held at Simple Headquarters are expected to abide by this Code of Conduct. We ask you to be considerate of others and behave professionally and respectfully to all other participants in speech and actions, refraining from demeaning, discriminatory, or harassing behavior and speech. We also ask that you be mindful of your surroundings and of your fellow participants. Alert event organizers if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</p>

<h3>Harassment</h3>

<p>Harassment will not be tolerated. If a participant engages in harassing behavior, Simple staff members or event organizers may take any action they deem appropriate, including warning the offender or expulsion from the event without refund.</p>

<p>Harassment includes, but is not limited to, offensive verbal comments related to gender, gender identity or expression, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, real or implied violence, intimidation, oppression, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

<h3>Alcohol Consumption</h3>

<p>While consumption of alcoholic beverages may sometimes be involved in community events, we believe drunkenness is not an excuse for bad behavior, and discourage drinking to excess. If an attendee is approached by a member of the event staff with concerns regarding intoxication, the attendee is expected to be respectful of the event, venue, and other attendees, and follow the direction of event staff.</p>

<p>We respect participants’ right to abstain from drinking without feeling pressured, and require that organizers of any event offering alcohol provide non-alcoholic alternatives in addition to water, and provide food or snacks. Organizers must also conspicuously post resources for alternative transportation from the event venue (Taxi cabs, Trimet) to reduce the likelihood of drinking and driving.</p>

<p>Alcoholic beverages are not allowed outside the event space.</p>

<h3>Event Music</h3>

<p>Best judgment is to be used when selecting music to be played at community events. Music that is sexually explicit, or could reasonably be expected to cause someone to feel uncomfortable in a professional setting, will not be allowed; neither will music with demeaning, threatening, or violent themes.</p>

<h3>Reporting Code of Conduct Violations</h3>

<p>We value your attendance, and event staff will be happy to help participants address any concerns. All reports will be treated as confidential. We strongly encourage you to address your issues privately with any of our staff members or event organizers, and encourage you to avoid disclosing information about the incident to other attendees until the staff have had sufficient time to address the situation. Additionally, event staff are available to help community members engage with local law enforcement or to otherwise help those experiencing unacceptable behavior feel safe. Staff may also provide safe escorts, if desired by the person experiencing distress.</p>

<p>A member of Simple staff will be present at all events hosted at the Simple event space, and will carry a contact phone at all times in case of harassment or other emergency. The phone number to reach the staff member on duty is <a href="tel:1-503-941-8079">(503) 941-8079</a>.</p>

<p>We expect all participants to follow these rules at all event venues and related social events.</p>
