---
layout: policies
title: Events Hosting Policy
---

<p>Because of the high demand to host events at Simple headquarters, placeholder dates will be considered on a case-by-case basis, and will only be allowed under very limited circumstances. A lot of planning goes into hosting an event, and the overall success of the event may suffer by rescheduling or shuffling dates.</p>

<p>Attendees are not allowed in any fobbed work areas.</p>

<p>All event organizers must read and adhere to the [Events Code of Conduct](https://www.simple.com/policies/events-code-of-conduct).</p>

<p>Organizers must sign a contract covering damages & liability during the event, including set-up and breakdown. Organizers will be required to provide a certificate of insurance for larger events (>100).</p>

<p>Event organizers must obtain the correct OLCC permits for any events charging admission where alcohol will be served, or for any events at which alcohol will be made available for sale.</p>

<ul>
<li>OLCC requires a temporary permit for any event where a "sale" of alcohol takes place. OLCC considers any of the following a sale of alcohol:</li>
  <ul>
  <li>Admission fees</li>
  <li>Donations/fundraisers</li>
  <li>Tip jar</li>
  <li>Direct sale</li>
  </ul>
<li>If any of the above scenarios takes place, you are required to obtain a temporary event permit, above and beyond the required service permits that bartenders must carry.</li>
<li>The turnaround time for applying for a temporary event permit usually takes 2-4 weeks. All approved permits will need to be submitted no later than 4 weeks before the corresponding event.</li>
</ul>

<p>Start time for events will be no earlier than 6pm, unless otherwise arranged. Organizers will not be allowed in to set up before 5:30pm.</p>

<p>All events must end at 8:30pm, with clean-up finished & everyone out by 9:30pm, unless otherwise arranged.</p>

<p>All meetup groups must be sponsored by a Simple employee</p>

<p>Re-set space after event</p>

<ul>
<li>Ensure Chairs, tables are wiped down & returned to their places</li>
<li>A/V equipment returned undamaged and powered down; checklist completed</li>
<li>Trash/recycling/compost in proper receptacles</li>
</ul>

<p>General Housekeeping</p>

<ul>
<li>Event organizers will have access to a projector, screen and PA system with wireless microphones. Organizers will need prior authorization to use our in-house A/V mixer.</li>
<li>The events space will be offered to most small/non-profit groups free of charge. Simple reserves the right to negotiate fees/deposits to cover added expenses for larger or for-profit events.</li>
<li>Brewed coffee and filtered water will be made available for all meetup events. Organizers will be responsible for any additional food and drink.</li>
<li>Event organizers are responsible for bringing their own serving ware (cups/plates/utensils), which must be recyclable; dish service may be arranged through a contracted catering service. Simple-owned dishes/dishwashers will not be made available to outside groups.</li>
<li>Event organizers, attendees, and vendors shall not engage in illegal activities while on the premises.</li>
<li>Incendiaries are not allowed - including, but not limited to</li>
  <ul>
  <li>Open flames</li>
  <li>Incense</li>
  <li>Smoking (cigarettes, marijuana, e-cigarettes/vaporizers)</li>
  </ul>
</ul>
