---
layout: policies
title: Google Wallet Account Opening Bonus Disclosure
category: Simple Accounts supported by BBVA Compass
effective_date: 1 July, 2016
---

<h3>Google Wallet Account Opening Bonus Disclosure</h3>

<p>New Simple accounts opened between March 31st and July 31st, 2016 may be eligible to receive a $20 bonus.</p>

<p>To qualify for the bonus:</p>
<ul>
  <li>You must be a new Simple customer.</li>
  <li>The new Simple account must either be opened through a Google referral link, or be opened using an email address registered with Google Wallet prior to March 31st, 2016.</li>
</ul>

<p>The $20 bonus will be deposited into your account within 30 days of meeting the requirements described above. The account must be open and in good standing at the time the bonus is deposited. Simple may report the value of the bonus to the IRS.</p>
