---
title: Policies
body_classes: policies-page
layout: policies
---

<section class="centered-section">
  <ul class="unstyled-list">
    <% sitemap.resources.select {|r| /policies\// =~ r.destination_path }.each do |r| %>
      <li>
        <a class="large-type" href="/<%= r.destination_path.gsub('/index.html','') %>">
          <%= r.data.title %>
        </a>
      </li>
    <% end %>
  </ul>
</section>