---
title: Legal Disclosures, Terms, and Policies
body_classes: policies-page
layout: policies
landing: true
---

<section class="centered-section">

  <%
  categories = [
    'Simple Accounts supported by The Bancorp Bank',
    'Simple Accounts supported by BBVA Compass',
    'All Simple Customers',
    'Simple Finance Technology Corporation'
  ]
%>

<% (site_url == '/new') ? pol_prefix = 'new/' : pol_prefix = '' %>
  
<div class="content flex-container">
  <% categories.each do |cat| %>
    <div class="policy-block">
      <h3><%= cat %></h3>
      <ul class="unstyled-list">
        <% sub_pages('policies').each do |policy| %>
          <% if (policy.data.category == cat) %>
            <li>
              <%= link_to policy.data.title, policy.url %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
  
  <!-- <h3 class="center-type">
    Your Simple Account is supported by one of two financial institutions. Be sure to review the correct documents for your account.
  </h3>
  
  <br /><br />

  <h4 class="color-dark center-type">Simple Accounts supported by The Bancorp Bank</h4>
  <ul class="unstyled-list clean-list">
    <li><a class="large-type" href="/policies/bancorp-privacy-practices">The Bancorp Bank Privacy Policy</a></li>
    <li><a class="large-type" href="/policies/bancorp-account-agreement">The Bancorp Bank Account Agreement</a></li>
    <li><a class="large-type" href="/policies/e-sign">E-Sign Consent Agreement</a></li>
    <li><a class="large-type" href="/policies/rates">The Bancorp Bank Truth in Savings Disclosure</a></li>
    <li><a class="large-type" href="/policies/schedule-of-fees">The Bancorp Bank Schedule of Fees</a></li>
  </ul>

  <br /><br />

  <h4 class="color-dark center-type">Simple Accounts supported by BBVA Compass</h4>
  <ul class="unstyled-list clean-list">
    <li><a class="large-type" href="/policies/privacy-practices">BBVA Compass Privacy Practices</a></li>
    <li><a class="large-type" href="/policies/bbva-compass-account-agreement">BBVA Compass Simple Deposit Account Agreement</a></li>
    <li><a class="large-type" href="/policies/e-sign">E-Sign Consent Agreement</a></li>
    <li><a class="large-type" href="/policies/simple-card-agreement">BBVA Compass Simple Visa Card Agreement</a></li>
    <li><a class="large-type" href="/policies/bbva-compass-truth-in-savings-disclosure">BBVA Compass Truth in Savings Disclosure</a></li>
    <li><a class="large-type" href="/policies/gw-account-opening-disclosure">Google Wallet Account Opening Bonus Disclosure</a></li>
  </ul>

  <br /><br />
  
  <h4 class="color-dark center-type">All Simple Customers</h4>
  <ul class="unstyled-list clean-list">
    <li><a class="large-type" href="/policies/photo-check-deposit-limits">Photo Check Deposit Limits and Funds Availability</a></li>
    <li><a class="large-type" href="/policies/checkfree-privacy">CheckFreePay Privacy Policy</a></li>
    <li><a class="large-type" href="/policies/checkfree-terms">CheckFreePay Terms and Conditions</a></li>
    <li><a class="large-type" href="/policies/checkfree-disclosures">CheckFreePay State Disclosures</a></li>
  </ul>

  <br /><br />
  
  <h4 class="color-dark center-type">Simple Finance Technology Corporation</h4>
  <ul class="unstyled-list clean-list">
    <li><a class="large-type" href="/policies/terms-of-use">Simple Website Terms of Use</a></li>
    <li><a class="large-type" href="/policies/privacy">Simple Privacy Policy</a></li>
    <li><a class="large-type" href="/policies/security">Simple Security Policy</a></li>
    <li><a class="large-type" href="/policies/events-hosting-policy">Simple Events Hosting Policy</a></li>
    <li><a class="large-type" href="/policies/events-code-of-conduct">Simple Events Code of Conduct</a></li>
  </ul> -->

</section>
