---
layout: policies
title: BBVA Compass Privacy Practices
effective_date: 18 April, 2016
---

<h3>Consumer Privacy Disclosure</h3>
<h4>Important Notice Regarding Your Personal Information</h4>

<table>
  <tbody>
    <tr>
      <td class="policyTitle2">FACTS</td>
        <!-- <td class="policyDescription">WHAT DOES EACH OF THE BBVA COMPASS AFFILIATES LISTED BELOW DO WITH YOUR PERSONAL INFORMATION?</td> -->
        <td class="policyDescription">What does each of the BBVA Compass affiliates listed below do with your personal information?</td>
      </tr>
      <tr>
        <td class="policyTitle">Who is providing this notice?</td>
        <td class="policyDescription">This notice is being made on behalf of the following affiliated companies: Compass Bank ("BBVA Compass"); BBVA Compass Insurance Agency, Inc.; BBVA Securities Inc., including its BBVA Compass Investment Solutions Division; BBVA Wealth Solutions, Inc.; Capital Investment Counsel, Inc.; Compass Mortgage Corporation; and BBVA Compass Financial Corporation (collectively the "BBVA Compass Affiliates").</td>
      </tr>
      <tr>
        <td class="policyTitle">Why?</td>
        <td class="policyDescription">Financial companies choose how they share your personal information. Federal law gives consumers the right to limit some but not all sharing. Federal law also requires us to tell you how we collect, share, and protect your personal information. Please read this notice carefully to understand what we do.</td>
      </tr>
      <tr>
        <td class="policyTitle">What?</td>
        <td class="policyDescription">The types of personal information we collect and share depend on the products or services you have with us. This information can include:
          <ul>
            <li>Social Security number and other identification information</li>
            <li>Account balances</li>
            <li>Payment and transaction history</li>
            <li>Credit history and credit score</li>
            <li>Income, assets and liabilities</li>
            <li>Loss and claim history</li>
          </ul>
        </td>
    </tr>
    <tr>
      <td class="policyTitle">How?</td>
      <td class="policyDescription">All financial companies need to share their customers’ personal information to run their everyday business. In the section below, we list many of the reasons financial companies can share their customers’ personal information; the reasons BBVA Compass Affiliates choose to share; and whether you can limit this sharing.</td>
    </tr>
  </tbody>
</table>
​
<table class="comparison3" width="100%">
<tbody>
<tr>
<th class="tdCenter">Reasons we can share your personal information</th>
<th class="tdCenter">Do we share?</th>
<th class="tdCenter">Can you limit this sharing?</th>
</tr>
<tr>
<td><strong>For our everyday business purposes</strong>
<br>
such as to process your transactions, maintain your account(s), respond to court orders and legal investigations, or report to credit bureaus</td>
<td class="tdCenter">YES</td>
<td class="tdCenter">NO</td>
</tr>
<tr>
<td><strong>For our marketing purposes</strong>
<br>
to offer our products and services to you</td>
<td class="tdCenter">YES</td>
<td class="tdCenter">NO</td>
</tr>
<tr>
<td><strong>For joint marketing with other financial companies</strong></td>
<td class="tdCenter">YES</td>
<td class="tdCenter">NO
<br>
(see "Other Important Information" for additional state law rights)</td>
</tr>
<tr>
<td><strong>For our affiliates’ everyday business purposes</strong>
<br>
information about your transactions and experiences</td>
<td class="tdCenter">YES</td>
<td class="tdCenter">NO</td>
</tr>
<tr>
<td><strong>For our affiliates’ everyday business purposes</strong>
<br>
information about your creditworthiness</td>
<td class="tdCenter">YES</td>
<td class="tdCenter">YES</td>
</tr>
<tr>
<td><strong>For our affiliates to market to you</strong></td>
<td class="tdCenter">YES</td>
<td class="tdCenter">YES</td>
</tr>
<tr>
<td><strong>For non–affiliates to market to you</strong></td>
<td class="tdCenter">NO</td>
<td class="tdCenter">WE DON'T SHARE</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td class="policyTitle">To limit our sharing</td>
<td class="policyDescription">
<ul>
<li>Please call 1-800-275-7219 and our menu will prompt you for your choice.</li>
</ul>
<strong>Please note</strong>:
<br>
If you are a <em>new</em> customer, we can begin sharing your information 45 days from the date we sent/provided you this notice. When you are <em>no longer</em> our customer, we continue to share your information as described in this notice.
<br>
<br>
However, you can contact us at any time to limit our sharing as provided in this notice.</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td class="policyTitle">Questions</td>
<td class="policyDescription"><strong>Call 1-800-COMPASS or go to www.bbvacompass.com</strong>
<br>
<hr>
Para una versión en español de nuestra política de privacidad, póngase en contacto con su sucursal local de BBVA Compass o visite www.bbvacompass.com.</td>
</tr>
</tbody>
</table>
<table class="comparison3" width="100%">
<tbody>
<tr>
<th colspan="2" class="tdCenter">What we do</th>
</tr>
<tr>
<td class="tdLeft">How do the BBVA Compass Affiliates protect my personal information?</td>
<td>To protect your personal information from unauthorized access and use, we use security measures that comply with federal law. These measures include computer safeguards and secured files and buildings. We use physical, electronic and procedural safeguards to help prevent unauthorized access to customer information, and periodically test and update our safeguards. We train and regularly educate our employees about the importance of maintaining the confidentiality of customer information and the proper handling of customer information.</td>
</tr>
<tr>
<td class="tdLeft">How do the BBVA Compass Affiliates collect my personal information?</td>
<td>We collect your personal information, for example, when you:
<ul>
<li>Apply for products or services</li>
<li>Make deposits or withdrawals from your account</li>
<li>Use your check card or your credit card</li>
<li>Use Online Banking and Bill Pay services</li>
</ul>
We also collect your personal information from others, such as credit bureaus, affiliates, or other companies.</td>
</tr>
<tr>
<td class="tdLeft">Why can't I limit all sharing?</td>
<td>Federal law gives you the right to limit only:
<ul>
<li>Sharing for affiliates’ everyday business purposes – information about your creditworthiness</li>
<li>Affiliates from using your information to market to you</li>
<li>Sharing for non–affiliates to market to you</li>
</ul>
State laws and individual companies may give you additional rights to limit sharing. See "Other Important Information" below for more information.</td>
</tr>
<tr>
<td class="tdLeft">What happens when I limit sharing for an account I hold jointly with someone else?</td>
<td>Upon request, joint account holders may limit sharing of information for each other.</td>
</tr>
</tbody>
</table>
<table class="comparison3" width="100%">
<tbody>
<tr>
<th colspan="2" class="tdCenter">Definitions</th>
</tr>
<tr>
<td class="tdLeft">Affiliates</td>
<td>Companies related by common ownership or control. They can be financial and nonfinancial companies.
<ul>
<li>The BBVA Compass Affiliates consist of financial service providers such as banks, insurance agencies, brokerage companies, and other financial service companies that work to serve your financial needs.</li>
</ul>
</td>
</tr>
<tr>
<td class="tdLeft">Non–affiliates</td>
<td>Companies not related by common ownership or control. They can be financial and nonfinancial companies.
<ul>
<li>We do not sell your information to outside marketers to allow them to independently solicit you for a product unless we first ask your permission to send your information.</li>
<li>We may disclose customer information about you to credit reporting agencies, in response to a subpoena or court order, as required by certain federal and state laws, to help complete a transaction initiated by you and pursuant to your request or authorization.</li>
</ul>
</td>
</tr>
<tr>
<td class="tdLeft">Joint marketing</td>
<td>A formal agreement between non-affiliated financial companies that together market financial products or services to you.
<ul>
<li>Our joint marketing partners include banks, insurance providers, investment companies, securities broker-dealers, and credit card companies.</li>
<li>Joint marketing with other financial companies allows us to bring information to you about financial products and services that are different from those we provide.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<table class="comparison3">
<tbody>
<tr>
<th class="tdCenter">Other important information</th>
</tr>
<tr>
<td><strong>CALIFORNIA RESIDENTS</strong> (consumer account with a California address): Please see the separate notice you are receiving entitled “Important Privacy Choices for Consumers” for your right to opt out of sharing with affiliates and with non-affiliated financial institutions that are joint marketing partners.
<br>
<br>
<strong>VERMONT RESIDENTS:</strong>If you are a resident of the State of Vermont, we do not share information about your creditworthiness with our affiliates for their everyday business purposes without first obtaining your specific consent. The information we share pursuant to a joint agreement for marketing is limited to consumer name and contact information and our own transaction and experience information.
<br>
<br>
<strong>ONLINE BANKING PRIVACY</strong>
<br>
We employ proven processes and technologies to protect the privacy and security of your information when you bank online with us, such as firewalls, encryption techniques, and authentication procedures. If you visit our Web site or use any of our electronic banking services, we may put a “cookie” or similar file on your hard drive to facilitate navigation and personalize your experience. By using cookies, we can collect technical and navigational information, such as computer browser type, Internet protocol address, and other computer identification information, and match that with pages visited and time spent on our Web pages. This helps us improve our Web site. When you use our online banking services, we also may use the information in the cookie or similar file to match the Internet browser and computer you use with your online account for security purposes. We do not knowingly collect, maintain, or use personal information from our Web sites about children under the age of 13. For more information about our online security practices, please visit our Web site at <a href="http://www.bbvacompass.com">www.bbvacompass.com</a>.</td>
              </tr>
            </tbody>
          </table>
          <p class="disclosure">Revision 7/15</p></span>

                    <p class="disclosure">BBVA Compass is a trade name of Compass Bank, a member of the BBVA Group. Compass Bank, Member FDIC.</p>
</tr>
