---
layout: policies
title: Understanding Simple and BBVA Compass' Privacy Policies
category: Simple Accounts supported by BBVA Compass
effective_date: 23 September, 2016
---

<h3>Understanding Simple and BBVA Compass’ Privacy Policies</h3>

<p>You might notice a few differences between Simple’s privacy policy and that of our partner bank, BBVA Compass. One important difference is that Compass’ policy lets them share information about creditworthiness with their affiliates for everyday business and marketing purposes. Simple’s policy does not allow this kind of sharing.</p>

<p>As a Simple customer, you may wonder “Which of these policies apply to me? And why do I get both of them?”</p>

<p>By opening a Simple account that’s held by BBVA Compass, you are a customer of both companies. Simple and BBVA Compass are both dedicated to protecting your information according to Simple’s privacy policy, so all Simple accounts are automatically opted out of any sharing that isn’t allowed under Simple’s policy.</p>

<p>If you have questions, give us (Simple) a call at 888-248-0632! You can also reach out to BBVA Compass at 1-800-COMPASS.</p>
