---
layout: policies
title: The Bancorp Bank Truth in Savings Disclosure
category: Simple Accounts supported by The Bancorp Bank
---

<div class="policy">

<article id="truth-in-savings">
  <div id="rate-information">
    <h3>Rate Information</h3>

    <p>There is no minimum deposit amount required to open an account and there are no minimum balance requirements to obtain the Annual Percentage Yield. Our current interest rate and Annual Percentage Yield for this account are listed below. At our discretion and at any time, we may change the interest rate and Annual Percentage Yield on your account. Interest begins to accrue on the business day you deposit noncash items (for example, checks). Interest will be compounded daily and will be credited to the account monthly.</p>
  </div>

 <div id="rates-for-simple-account">
    <h3>Rates for Simple Account</h3>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>NOW Account</th>
          <th>Interest Rate</th>
          <th>Annual Percentage Yield</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Simple Account</td>
          <td>0.01%</td>
          <td>0.01%</td>
        </tr>
      </tbody>
    </table>
  </div>

    <p>Rates effective <span data-date-weekly>5/4/2012</span>. Rates subject to change. Fees may reduce earnings.</p>
  </div>

  <div id="balance-information">
    <h3>Balance Information</h3>

    <p>We use the daily balance method to calculate the interest on the account. This method applies a daily periodic rate to the principal in the account each day.</p>
  </div>

  <div id="account-fees">
    <h3>Schedule of Fees</h3>

    <p>There are no minimum balance fees on this account. There may be a fee for other services associated with this account. For a list of fees refer to the <a href="/policies/schedule-of-fees/">Schedule of Fees</a>.</p>
  </div>

<div id="account-closing">
    <h3>Account Closing</h3>

    <p>If you wish to close your Deposit account with Simple you agree to notify Simple of this intention in writing. After a Deposit Account is closed, we have no obligation to accept deposits or pay outstanding items, but may do so at our discretion. You agree to hold us harmless for refusing to honor any check, paper draft, or other item on a closed account. A bank check will be sent to the address on file within 7 business days of your final transaction. All related closing fees will be deducted from the final balance.</p>

    <address>
      Simple Finance Technology Corp.<br />
      <abbr title="Post Office">PO</abbr> Box No. 28462<br />
      Portland, <abbr title="Oregon">OR</abbr> 97228<br />
      Phone: +1 888-248-0632<br />
      <a href="https://www.simple.com">https://www.simple.com</a>
    </address>

    <p> If account is closed before interest is credited, you will receive the accrued interest.</p>

  </div>

</article>

</div>
