---
title: Schedule of Fees
layout: policies
---

<table class="table">
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="fee">Fee (in US Dollars)</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Minimum Balance</td>
      <td>No minimum balance requirement.</td>
    </tr>

    <tr>
      <td>Monthly Account Maintenance</td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>Account Activation</td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>Overdraft Fee</td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>Return Item Fee</td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>Deposit Item Return</td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>Funds Transfer Fee&mdash;<em>This is electronically moving
      money between Simple and another financial account you own. (ACH)</em></td>
      <td>Incoming: No charge<br>
      Outgoing: No charge</td>
    </tr>

   <tr>
      <td>Inactivity Fee&mdash;<em>No account activity for more
      than 180 days (about six months).</em></td>
      <td>$5 per month</td>
    </tr>

    <tr>
      <td>Account Closing Fee</td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>Debit Card Transaction (Domestic)</td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>ATM Surcharge (Domestic ATMs)</td>
      <td><strong>STARsf ATMs</strong>: No terminal surcharge<br>
      <strong>All other ATMs</strong>: Terminal surcharge set by terminal owner</td>
    </tr>

    <tr>
      <td>Treasurers Check&mdash;<em>A treasurer's (cashier's) check
      can be ordered by request. These checks are backed by and sent
      directly from the bank. This is separate from the Send Money services
      ("Mail a Check" or "Pay a Bill") that Simple offers, which is free to customers.</em></td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>International &mdash; Debit Card Transaction
        <em>This refers to what the bank will charge you to make
          international transactions. The card association (Visa) charges
          an International Service Assessment (ISA) fee of up to 1% of the
          transaction amount, in order to cover the costs of converting
          currency and using foreign ATM and Card Networks. (EFT S/C SVC CHG INTRNTL TRAN)</em></td>
      <td>No charge</td>
    </tr>

    <tr>
      <td>International &mdash; ATM Cash Withdrawal &mdash;<em>(EFT S/C SVC CHG ATM WITHDRAWAL)</em></td>
      <td>$2 per withdrawal
      plus any terminal fees and conversion
      fees assessed</td>
    </tr>

  </tbody>
</table>
