---
title: The Bancorp Bank Schedule of Fees
category: Simple Accounts supported by The Bancorp Bank
layout: policies
---

<table class="table">
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="fee">Fee (USD)</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Minimum Balance</td>
      <td>$0</td>
    </tr>

    <tr>
      <td>Monthly Account Maintenance</td>
      <td>$0</td>
    </tr>

    <tr>
      <td>Overdraft Fee</td>
      <td>$0</td>
    </tr>

    <tr>
      <td>ACH Bank Transfer Fee &mdash; Incoming and outgoing</td>
      <td>$0</td>
    </tr>

    <tr>
      <td>Account Closing Fee</td>
      <td>$0</td>
    </tr>

    <tr>
      <td>Card Replacement Fee</td>
      <td>$0</td>
    </tr>

    <tr>
      <td>ATM Fees (Domestic)</td>
      <td>
        <strong>STARsf ATMs</strong>: $0<br>
        <strong>All other ATMs</strong>: No fee from Simple, but there might be a fee assessed by that ATM operator.
      </td>
    </tr>

    <tr>
      <td>ATM Fees (International)<br><em>(EFT S/C SVC CHG ATM WITHDRAWAL)</em></td>
      <td>
        <strong>BBVA Bancomer ATMs in Mexico</strong>: $0<br>
        <strong>BBVA ATMs in Spain</strong>: $0<br>
        <strong>All other ATMs</strong>: No fee from Simple, but there might be a fee assessed by that ATM operator.
      </td>
    </tr>

  </tbody>
</table>

<br>
<br>
<br>
<h2 class="center-type section-headline">Visa Network Fees</h2>
<table class="table">
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="fee">Fee (USD)</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>International Debit Card Transaction &mdash;
        <em>Visa charges an International Service Assessment (ISA) in order to cover the costs of converting currency and using foreign ATM and Card Networks. (EFT S/C SVC CHG INTRNTL TRAN)</em></td>
      <td>Up to 1% of the transaction value</td>
    </tr>
  </tbody>
</table>
