---
layout: policies
title: Social Media Community Guidelines
category: Simple Finance Technology Corporation
effective_date: 16 August, 2016
---

<p>Hi there! Welcome to our social media community guidelines. Here’s what you need to be a happy and healthy member of our social media community: </p>

<h3 id="toc_1">Comments, Moderation, and Posting</h3>

<p>Simple welcomes an honest and free-flowing discussion in its social media communities, including criticism of Simple and its policies. However, Simple reserves the right to delete comments and posts that it believes are abusive towards its employees or other people or companies, defames anyone, is off-topic, or is a solicitation of services. Remember the human.     </p>

<h3>Customer Support Requests</h3>

<p>We love hearing your questions about our service and products, but to protect your rights to personal and financial privacy Simple does not answer account specific support questions on social media. If you need customer support, please send us a support message in the Simple Web and Mobile applications or call us at 888-248-0632. </p>

<h3>Privacy and Security</h3>

<p>Please note that when you visit a Simple social media page, you are subject to all applicable terms of use and policies for that social media platform, including its privacy policy. You are also subject to Simple’s <a href="https://www.simple.com/policies">policies</a>, as well as its privacy policies and the privacy policies of its partner banks, The Bancorp Bank and BBVA Compass. To additionally protect your privacy, do not include your, or anyone else’s, personally identifiable information, including but not limited to Social Security numbers, account numbers, card numbers or images of cards, phone numbers or e-mail addresses in any comment or post. If you do include personally identifiable information, your comment or post may be deleted.</p>

<h3>Links to Third-Party Sites</h3>

<p>Simple’s social media content occasionally contains links to third-party websites. These links are provided for informational purposes only and neither Simple nor our partner banks, The Bancorp Bank and BBVA Compass, endorse any linked-to websites or products.</p>

<h3>Copyright and Intellectual Property</h3>

<p>We respect the intellectual property rights of others and ask that you do as well. By posting content to any of Simple’s social media pages, you: </p>

<ul>
<li>Represent and warrant that you are either the owner of all applicable intellectual property rights or you have sufficient permission from the rights holders to post the content; </li>
<li>Agree that infringement on any party&#39;s copyright, patent, trademark, trade secret, intellectual property, or other proprietary rights, or right of publicity or privacy is not allowed and not tolerated on Simple’s social media pages;</li>
<li>Grant Simple non-exclusive worldwide rights to use this content in its social media and marketing efforts indefinitely. </li>
</ul>

<h3>Media Inquiries</h3>

<p>If you are a member of the press, you can learn more about Simple at <a href="https://www.simple.com/press">www.simple.com/press</a> or contact our Communications Team at <a href="mailto:press@simple.com">press@simple.com</a></p>
