---
layout: policies
title: Terms of Use
---

<p class="small-type outline">Effective as of <time>January 17, 2012</time></p>

<h3>By visiting this site, you accept our terms</h3>

<p>The use of this website is subject to the following terms of use and the conditions of our <a href="/policies/privacy">privacy policy</a>. By visiting this website you are acknowledge that you have read, understood and agree to these. We may update these policies from time to time and it is your responsibility to check for updates.</p>

<h3>We will protect our intellectual property rights</h3>

<p>The contents of this website, including the text, graphics, software, haiku and multi-media content is protected under both United States and foreign laws. Unauthorized use of our content may violate copyright, trademark and other laws. You have no rights to use this content except as permitted by this agreement without prior written consent from us.</p>

<p>The trademarks, service marks and logos used on the website are registered marks of Simple Finance Technology Corp. (the makers of Simple). Nothing on this site should be construed as granting, by implication, or otherwise, any license or right to use these marks without our prior written permission specific for each such use. All goodwill generated from the use of our marks must be for the benefit of Simple Finance Technology Corp.</p>

<h3>NO WARRANTIES / LIMITATION OF LIABILITY / ALL CAPS</h3>

<p>OUR LAWYERS HAVE TOLD US THAT WE NEED TO PUT THE FOLLOWING TEXT IN ALL CAPS. PLEASE EXCUSE THE FOLLOWING WALL OF TEXT. WE DON’T USUALLY YELL.</p>

<p>THE WEBSITE AND ITS CONTENT ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY WARRANTIES OF ANY KIND.  WE DISCLAIM ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE WARRANTY OF TITLE, MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES’ RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE.</p>

<p>IN NO EVENT SHALL WE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE THE WEBSITE OR ITS CONTENT WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  SOME STATES DO NOT ALLOW EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU.  IN SUCH STATES, OUR LIABILITY SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</p>

<h3>We are not responsible for external sites</h3>

<p>Using advanced hypertext document linking technology, we may, from time to time, link to external websites. These links do not represent our endorsement of external content. We are not responsible for any external content. If you have any concerns about content on external sites, please get in touch with the administrators of those sites. Please be careful when visiting external sites and keep your computer protected from viruses and other digital nasties.</p>

<h3>Digital Millennium Copyright Act is a thing</h3>

<p>We respect the intellectual property rights of others. We will review all claims that we receive of copyright infringement. If we deem that any content is in violation of applicable laws, we will remove it.</p>

<p>Our designated agent under the Digital Millennium Copyright Act for the receipt of any claimed infringement notifications is:</p>

<p>
Simple Finance Technology Corp.
Attention: Copyright Agent
PO Box 28462
Portland, OR 97228
</p>

<p>To help us identify any work that you believe constitutes a copyright infringement, please provide us with the follow:

<ol>
  <li>A description of the copyrighted work and the URL on which it appears</li>
  <li>Your contact details, including email address</li>
  <li>A statement that you have a good faith belief that our use of the work is not authorized</li>
  <li>A statement, made under the penalty of perjury, that the information in the notice is accurate and that you are the copyright owner or authorized to act on the owner’s behalf</li>
  <li>An electronic or physical signature of the copyright owner or a person authorized to act on their behalf</li>
</ol>

<h3>This is an American web site</h3>

<p>This website is based in the United States of America. We make no claims whether this site can be downloaded or appropriately used outside of the Unites States. If you access it from outside of the United States, you do so at your own risk. You are solely responsible for ensuring compliance with local laws.</p>

<h3>We can terminate this agreement at will</h3>

<p>We reserve the right, at our sole discretion, to restrict, suspend, or terminate this Agreement and your access to all or any part of the Website, at any time and for any reason without prior notice or liability.  We reserve the right to change, suspend, or discontinue all or any part of the Website at any time without prior notice or liability.</p>

<h3>Miscellaneous legalese be here</h3>

<p>This agreement is governed by the internal substantive laws of the State of New York. You agree to submit to the exclusive personal jurisdiction of the state and federal courts in the State of New York. If any provision of this agreement is found to be invalid by a competent court, the invalidity of such provisions shall not affect the validity of the remaining provisions. Likewise, if we choose to terminate any provision in accordance with the termination provision, that termination shall not affect the termination of other provisions.</p>

<p>If we fail to act on, or enforce, any provision in this agreement, this shall not be construed as a waiver of that, or any other, provision. We will only grant waivers to specific provisions, for specific instances, in writing. This agreement constitutes the entire agreement between you and us with respect to this website and supersedes all previous or contemporaneous agreements. The section headings are merely provided for convenience and shall not be given any legal import. This agreement will inure to the benefit of our successors, assignees, licensees and sublicensees.</p>
