---
layout: policies
title: Privacy Policy
---

<p class="small-type outline">Effective as of <time>December 4th, 2014</time></p>

<p>Hi! We've created this Privacy Policy to explain how we collect, use, disclose and protect your information, including any nonpublic personal information. This policy applies to information we collect when you use our website and mobile application (collectively, “<strong>Services</strong>”) or otherwise interact with us as described below.</p>

<p>We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of this policy, and in some cases, we may provide you with additional notice (such as by adding a statement to the homepages of our website or mobile application or by sending you an email notification). We encourage you to review the Privacy Policy whenever you interact with us to stay informed about our information practices and the ways you can help protect your privacy.</p>

<p>This privacy policy applies to the Services provided by Simple Finance Technology Corp. (“<strong>Simple,</strong>” “<strong>we</strong>” or “<strong>us</strong>”).</p>

<h3>Collection of Information</h3>

<h4>Categories of Non-Public Personal Information</h4>

<h5>Information You Provide to Us</h5>

<p>We collect nonpublic personal information you provide to us when you apply for a Simple account or when you communicate with us about your Simple account. The types of information we may collect include your name, address, phone number, email address, date of birth, bank account information, social security number, username, password, and any other information you choose to provide.</p>

<h5>Information About Your Transactions With Us</h5>

<p>As you use your Simple account to perform financial transactions, we collect nonpublic personal information in connection with each transaction, including transaction time, dollar amount and merchant details. We may also collect photos, memos or other information that you attach to your transactions.</p>

<h5>Information From Other Sources</h5>

<p>When you create a Simple account, we may collect information, including nonpublic personal information, about you from nonaffiliated third party service providers in order to verify your identity and for fraud prevention, including your prior addresses and names.</p>

<h4>Other Information We Collect</h4>

<p>We may also collect other information from you that is not connected with a Simple account as follows:</p>

<h5>Information You Provide to Us</h5>

<p>We may collect information you provide to us, such as your name, email address and any other information you choose to provide. For example, we may collect such information if you request an invite to join Simple or if you enter into any contest or promotion.</p>

<h5>Information We Collect Automatically from our Services</h5>

<p>When you access or use our Services, we automatically collect information about you as follows:</p>

<ul>
<li><strong>Log Information:</strong> We log information about your use of our Services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our Services.</li>
<li><strong>Device Information:</strong> We collect information about the computer or mobile device you use to access our Services, including the hardware model, operating system and version, unique device identifiers and mobile network information.</li>
<li><strong>Location Information:</strong> We may collect your location information from your mobile device with your prior consent. Also,we have incorporated Google Maps into our Services, and you may consent to the collection of location information by Google Maps in connection with your use of this maps service. Any information collected via your use of Google Maps will be transmitted directly to Google and is not collected by us. Please refer to Google’s <a href="http://www.google.com/policies/privacy/">privacy policy</a> for details about their collection, use and sharing of this information. For information about how to disable the collection of location information from your device, please see “Your Choices” below.</li>
<li><strong>Information Collected by Cookies and Other Tracking Technologies:</strong> We use various technologies to collect information on our Services and other websites, and this may include sending cookies to your computer or mobile device. Cookies are small data files stored on your hard drive or in device memory that help us to improve our Services and your experience, see which areas and features of our Services are popular and count visits. For more information about cookies, and how to disable them, please see “Your Choices” below.We may also collect information using web beacons (also known as "tracking pixels"). Web beacons are electronic images that may be used in our Services or emails and help deliver cookies, count visits, understand usage and campaign effectiveness and determine whether an email has been opened and acted upon.</li>
<li><strong> How We Respond to Do Not Track Signals:</strong> We allow Do Not Track browser configurations. We use cookies and other tracking technologies, and Do Not Track status may alter the available services with certain browsers, when these tracking functionalities are used to provide services. We do not alter the information our applications attempt to collect based on your Do Not Track configuration.</li>
</ul>

<h3>Use of Information</h3>

<p>We may use your information, including nonpublic personal information as follows:</p>

<ul>
<li>Provide, maintain and improve our Services;</li>
<li>Provide and deliver the products and services you request, process transactions and send you related information, including confirmations;</li>
<li> Verify your identity and prevent fraud;</li>
<li>Send you technical notices, updates, security alerts and support and administrative messages;</li>
<li>Respond to your comments, questions and requests and provide customer service;</li>
<li>Communicate with you about products, services, offers, promotions, rewards, and events offered by Simple and others, and provide news and information we think will be of interest to you;</li>
<li>Monitor and analyze trends, usage and activities in connection with our Services;</li>
<li>Personalize and improve the Services and provide advertisements, content or features that match user profiles or interests;</li>
<li>Process and deliver contest or promotion entries and rewards;</li>
<li>Link or combine with information we get from others to help understand your needs and provide you with better service; and</li>
<li>Carry out any other purpose for which the information was collected.</li>
</ul>

<p>Simple is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.</p>

<h3>Disclosure of Information</h3>

<p>We may disclose any information we collect about current and former customers, including nonpublic personal information, to affiliates and non-affiliated third parties as follows:</p>

<p>(1) With financial service providers, including the financial institutions identified in your cardholder bank agreement that provide banking services in connection with your Simple account;</p>

<p>(2) With another user, when you sign up for Simple’s services via a referral link. The user that referred you may receive information indicating that you have enrolled with Simple. You may avoid this sharing by not using a referral link to enroll;</p>

<p>(3) With non-financial companies, such as email service providers that perform marketing services on our behalf, and fraud prevention service providers that use the information to provide services to Simple and other companies;</p>

<p>(4) With other nonaffiliated companies for our everyday business purposes, such as to process transactions, maintain accounts, respond to court orders and legal investigations or report to credit bureaus. For example, in connection with our everyday business purposes, we may share information about you as follows:</p>

<ul>
<li>In response to a request for information, if we are required by, or we believe disclosure is in accordance with, any applicable law, regulation or legal process;</li>
<li>With relevant law enforcement officials or other third parties, such as investigators or auditors, if we believe it is appropriate to investigate fraud;&nbsp;</li>
<li>If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect the rights, property and safety of Simple or others;</li>
<li>In connection with, or during negotiations of, any merger, sale of Simple’s assets, financing or acquisition of all or a portion of our business to another company; and</li>
<li>With your consent or at your direction, including if we notify you that the information you provide will be shared in a particular manner and you provide such information.</li>
</ul>

<p>We may also share aggregated or de-identified Information, which cannot reasonably be used to identify you. For example, we may share transaction zip codes and merchant names with third parties to improve our accuracy in geo-locating transactions and to improve the clarity of transaction descriptions.</p>

<h3>Your Choices</h3>

<h5>Account Information</h5>

<p>You may edit your account profile information by logging into your account via our Services. If you wish to delete or deactivate your online account, please <a href="mailto:learnmore@simple.com">contact us</a>, but note that we may retain certain information as required by law or for legitimate business purposes.</p>

<h5>Promotional Communications</h5>

<p>You may opt out of receiving promotional emails and text messages from Simple by following the instructions in those messages. Please note that if you opt out, we may still send you transactional or relationship messages, such as those about your account or our ongoing business relations.</p>

<h5>Location Information</h5>

<p>If you initially consent to the collection of location information by Simple or Google Maps within our mobile application, you may be able to subsequently stop this collection through your device operating system settings or through your online account settings. If either of these opt-out options are not available to you, you may also disable location information by following the standard uninstall process to remove our mobile application from your device.</p>

<h5>Cookies</h5>

<p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our Services.</p>

<h3>Social Sharing Features</h3>

<p>Our Services include social sharing features for common social networks to let users share content. These features are served from third-party services that may serve their own cookies. The use of such features enables the sharing of information with your friends or the public, depending on the settings you establish with the entity that provides the social sharing feature. For more information about the purpose and scope of data collection and processing in connection with social sharing features, please visit the privacy policies of the entities that provide these features.</p>

<h3>Analytics and Advertising Services Provided by Others</h3>

<p>We may allow others to provide analytics services on our behalf and to serve advertisements on our behalf across the Internet. These entities may use cookies, web beacons and other technologies to collect information about your use of the Services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by Simple to, among other things, analyze and track data, determine the popularity of certain content, deliver advertising targeted to your interests and better understand your online activity.</p>

<h3>Security</h3>

<p>Simple takes reasonable measures to help protect all information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction. Additionally, Simple implements policies designed to protect the confidentiality and security of your nonpublic personal information, including a privacy protection policy for Social Security numbers. Simple limits access to your nonpublic personal information to employees that have a business reason to know such information, and implements security practices and procedures designed to protect the confidentiality and security of such information and prohibit unlawful disclosure of such information in accordance with its policies.</p>

<h3>Contact Us</h3>

<p>If you have any questions about this Privacy Policy, please contact us at:</p>

<h5>Simple Finance Technology Corp.</h5>
<p>Attention: Compliance Officer<br>
PO Box 28462<br>
Portland, OR 97228<br>
(888) 248-0632<br>
</p>

<p><a href="mailto:compliance@simple.com">compliance@simple.com</a></p>
