---
layout: policies
title: Security Policy
---

<h3>Security is fundamental to us</h3>
<p>Simple Finance Technology Corp., the creator of Simple, meets all industry standards to safeguard your data. We use a variety of methods to secure our network and servers as well as our software and web applications. Our data retention and business continuity plans are comprehensive and our employees maintain organizational security measures designed to keep your data safe.</p>

<h3>Network and server security</h3>
<ul>
  <li>Network infrastructure is segregated into levels of information classification with strict routing, firewalling, and access control links that separate each privilege level.</li>
  <li>Network infrastructure undergoes regular internal penetration testing audits that are augmented by semi-regular third-party audits.</li>
  <li>Our information security team performs regular software updates throughout the Simple infrastructure to remain up-to-date on software security patches.</li>
  <li>Card numbers, mag-stripe data, and security codes are handled in accordance with PCI DSS requirements.</li>
</ul>

<h3>Software and web application security</h3>
<ul>
  <li>Web APIs and web pages are secured with High Assurance SSL certificates that support encryption algorithms with key lengths up to 256 bits and prohibit any key lengths shorter than 128 bits.
  <li>Simple's cloud infrastructure employs Multi-Factor Authentication for management operations.
  <li>Industry-standard (symmetric and asymmetric) encryption algorithms with appropriately sized keys are used to protect sensitive <a href="/policies/website-privacy/">Customer Information</a>.
  <li>Simple applications undergo regular internal source code audits. Internal audits are augmented by semi-regular third-party audits.
  <li>Standards and leading practices identified by independent security organizations (e.g., OWASP) are integrated in to all Simple code creation processes.
</ul>

<h3>Data retention & Disaster recovery</h3>
<ul>
  <li>Data is aggressively archived and Simple performs regular offsite backups to ensure redundancy.</li>
  <li>Simple services are designed to tolerate failures in supporting infrastructure while maintaining continuity of operations; we place a high priority on redundancy and ensuring maximum availability of our services.</li>
  <li>Simple follows industry standard incident response procedures with a dedicated incident response team.</li>
</ul>

<h3>Organizational security</h3>
<ul>
  <li>Prospective employees undergo security screenings during the hiring process.</li>
  <li>Simple employees undergo security operations training.</li>
  <li>Simple employees use encrypted storage, encrypted chat (and voice), encrypted tunnels (VPN and SSH), and encrypted email for sensitive internal communications and operations.</li>
  <li>Simple maintains detailed application-level and system-level logs.</li>
</ul>


<h3>Security research and disclosure process</h3>
<p>Simple understands the devotion and effort that security work requires. As such, we encourage (and reward) the responsible disclosure of any vulnerabilities to us. Responsible disclosure means:</p>
<ul>
  <li>Openly share the full details of any vulnerabilities with us.</li>
  <li>Do not announce or share the details of any vulnerabilities in any way with the public or other parties.</li>
  <li>Do not exploit the vulnerability except for purposes of demonstrating it to Simple personnel. Please contact <a href="mailto:security@simple.com">security@simple.com</a> if you are unsure of exploitability and we will work with you to verify it safely.</li>
  <li>Do not use the vulnerability to access, modify, harm, or otherwise alter any Simple (or its customers') data.</li>
</ul>

<p>Vulnerabilities that are "responsibly disclosed" according to the above process are welcomed. Simple will not seek to bring legal action against any person who adheres to this process of responsible disclosure. Additionally, severe vulnerabilities are eligible for a vulnerability reward.</p>

<p>Simple uses Bugcrowd to manage vulnerability submissions and for reward distribution. For more details about the scope of our program and to report any vulnerabilities, go to <a href="https://bugcrowd.com/simple">https://bugcrowd.com/simple</a> and sign up as a tester.</p>

<p>You may also contact us with any security concerns, or security suggestions at <a href="mailto:security@simple.com">security@simple.com</a>. All security-related emails that are signed with Simple Security's official key (if you are using <a href="http://gnupg.org">GPG</a> and have <a href="http://www.gnupg.org/gph/en/manual.html#AEN84">imported our public key</a>) may be verified using `gpg --verify`.</p>

<p>The Simple Security team's official GPG key has an ID of `79FF66A9` and may be retrieved from public key servers using a command like: `gpg --recv-keys 79FF66A9`. If you are able, please use that key to encrypt any messages regarding security sent to Simple. The fingerprint for that key is `E034 918A BA56 1DD0 6CAF  46D8 C472 1EA0 79FF 66A9`.</p>

<h3>Acknowledgments</h3>
<p>The following researchers have submitted reports to Simple that have contributed to the continuing security of Simple's services and we would like to gratefully acknowledge their efforts.</p>

<h4>2014</h4>
<div class="paragraph-grid-three-up">
  <ul>
    <li><strong>Nitin Goplani</strong> <a href="https://in.linkedin.com/in/nitingoplani">Profile</a></li>
    <li><strong>Hardshell</strong> Profile not Provided</li>
    <li><strong>Muhammad Shahmeer</strong> <a href="https://twitter.com/Shahmeer_Amir">Profile</a></li>
    <li><strong>Jamie Woodruff</strong> <a href="https://twitter.com/jamie_geek">Profile</a></li>
    <li><strong>Manikandan Rajakumar</strong> <a href="https://twitter.com/Mani22cars">Profile</a></li>
  </ul>
</div>

<h4>2013</h4>
<div class="paragraph-grid-three-up">
  <ul>
    <li><strong>Kamil Sevi</strong> <a href="https://twitter.com/kamilsevi">Profile</a></li>
    <li><strong>shashank</strong> <a href="https://twitter.com/cyberboyindia">Profile</a></li>
    <li><strong>Anand Meyyappan</strong> <a href="http://www.facebook.com/anand.m27">Profile</a></li>
    <li><strong>Sahil Sehgal</strong> <a href="https://twitter.com/xXSehgalXx">Profile</a></li>
    <li><strong>Ahmad Ashraff</strong> <a href="https://twitter.com/yappare">Profile</a></li>
    <li><strong>Ehraz Ahmed</strong> <a href="https://twitter.com/securityexe">Profile</a></li>
    <li><strong>Umraz Ahmed</strong> <a href="https://twitter.com/umrazahmed">Profile</a></li>
    <li><strong>Shahee Mirza</strong> <a href="https://twitter.com/shaheemirza">Profile</a></li>
	  <li><strong>Devesh Bhatt</strong> <a href="https://twitter.com/deveshbhatt11">Profile</a></li>
	  <li><strong>Harikrishnan (&quot;HK&quot;)</strong> Profile not Provided</li>
  </ul>
</div>
