---
layout: policies
title: Security Policy
---

<h3>Security is fundamental to us</h3>
<p>Simple Finance Technology Corp., the creator of Simple, meets all industry standards to safeguard your data. We use a variety of methods to secure our network and servers as well as our software and web applications. Our data retention and business continuity plans are comprehensive and our employees maintain organizational security measures designed to keep your data safe.</p>

<h3>Network and server security</h3>
<ul>
  <li>Network infrastructure is segregated into levels of information classification with strict routing, firewalling, and access control links that separate each privilege level.</li>
  <li>Network infrastructure undergoes regular internal penetration testing audits that are augmented by semi-regular third-party audits.</li>
  <li>Our information security team performs regular software updates throughout the Simple infrastructure to remain up-to-date on software security patches.</li>
  <li>Card numbers, mag-stripe data, and security codes are handled in accordance with PCI DSS requirements.</li>
</ul>

<h3>Software and web application security</h3>
<ul>
  <li>Web APIs and web pages are secured with High Assurance SSL certificates that support encryption algorithms with key lengths up to 256 bits and prohibit any key lengths shorter than 128 bits.
  <li>Simple's cloud infrastructure employs Multi-Factor Authentication for management operations.
  <li>Industry-standard (symmetric and asymmetric) encryption algorithms with appropriately sized keys are used to protect sensitive <a href="/policies/website-privacy/">Customer Information</a>.
  <li>Simple applications undergo regular internal source code audits. Internal audits are augmented by semi-regular third-party audits.
  <li>Standards and leading practices identified by independent security organizations (e.g., OWASP) are integrated in to all Simple code creation processes.
</ul>

<h3>Data retention & Disaster recovery</h3>
<ul>
  <li>Data is aggressively archived and Simple performs regular offsite backups to ensure redundancy.</li>
  <li>Simple services are designed to tolerate failures in supporting infrastructure while maintaining continuity of operations; we place a high priority on redundancy and ensuring maximum availability of our services.</li>
  <li>Simple follows industry standard incident response procedures with a dedicated incident response team.</li>
</ul>

<h3>Organizational security</h3>
<ul>
  <li>Prospective employees undergo security screenings during the hiring process.</li>
  <li>Simple employees undergo security operations training.</li>
  <li>Simple employees use encrypted storage, encrypted chat (and voice), encrypted tunnels (VPN and SSH), and encrypted email for sensitive internal communications and operations.</li>
  <li>Simple maintains detailed application-level and system-level logs.</li>
</ul>


<h3>Security research and disclosure process</h3>
<p>Simple understands the devotion and effort that security work requires. As such, we encourage (and reward) the responsible disclosure of any vulnerabilities to us. Responsible disclosure means:</p>
<ul>
  <li>Openly share the full details of any vulnerabilities with us.</li>
  <li>Do not announce or share the details of any vulnerabilities in any way with the public or other parties.</li>
  <li>Do not exploit the vulnerability except for purposes of demonstrating it to Simple personnel. Please contact <a href="mailto:security@simple.com">security@simple.com</a> if you are unsure of exploitability and we will work with you to verify it safely.</li>
  <li>Do not use the vulnerability to access, modify, harm, or otherwise alter any Simple (or its customers') data.</li>
</ul>

<p>Vulnerabilities that are "responsibly disclosed" according to the above process are welcomed. Simple will not seek to bring legal action against any person who adheres to this process of responsible disclosure. Additionally, severe vulnerabilities are eligible for a vulnerability reward.</p>

<p>Please report any vulnerabilities, security concerns, or security suggestions to <a href="mailto:security@simple.com">security@simple.com</a>. All security-related emails sent by Simple will be signed with the following public key and (if you are using <a href="http://gnupg.org">GPG</a> and have <a href="http://www.gnupg.org/gph/en/manual.html#AEN84">imported our public key</a>) may be verified using `gpg --verify`.</p>

<p>If you are able, please use the below key to encrypt any messages regarding security sent to Simple.</p>

<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.12 (Darwin)

mQENBFB/KJQBCACoT/35TJ9RFShT+LS1QdR+PFNZgXeHb9ZIJ9Q+AGnFydUN2xa8
pjPkB9nSQVt6DYyoT1CaqDWZxVjD/FsfGFaS3OfYBF88j/92dsv10rq4Z6oe3gGt
GyqdNivlYM9sYUMfPvXNyTTnNsCO5Qh5t0t98ai98cVYJFoDu7bC4lXfCxoHnuHc
dK0TuATk4KjKEZYVq3TpvbSYYPbsHKUiV1rwl8VgNMtplNqB4RWHTT2KQtnTVwC7
DaUOHxOHsIPNjjlIjfZK5PHnW7uVSd12O87joVtM5jOILDIBSFK7B76s4YFSAmjq
ZbsyS+ImT/pawcDmLAkhJxa920cGuJa7bPpLABEBAAG0JVNpbXBsZSBTZWN1cml0
eSA8c2VjdXJpdHlAc2ltcGxlLmNvbT6JATgEEwECACIFAlB/KJQCGwMGCwkIBwMC
BhUIAgkKCwQWAgMBAh4BAheAAAoJEK30q15VyYfXexoH/AsN+kN26HeyDC/skVvp
4l8wnEokwS4PvvihwfVqk6fCnTShlbxcFe/3NCM+kSa5K94PCheQ8HBhe71qN/hO
P8Szvb2QkpN3rVf2n7rTgC0E3pkLAOgbNzFkYqNEDu02zHKFgp0Ue9cP0FzX9sNh
S9b0itYK0qPDArYheZpdgOtsB47a6hfswNa/MnH/9Bus3SxGCzUl0aCC2LhQ+j/5
XJCCpanhmVMdDkmX7dzXq+ZcZuErPxWp40eYcEA3ndXO7YQV66tbFj3WKToeltal
2wGagxhc2DVrhFIBXk3O+kjXBqYsJALTv07LOkrLn6vFvcKK9YhwAgWxr81WhQWt
DxW5AQ0EUH8olAEIAMBT8me0yO19D7hqhVoj3sNHYg5mqb7t4ICDd2mu043oJ3j+
MW/XpMiuBLGMe3XWMZg3Zg3r+k8w0pnsRnR97sAuEStU5X1K/GxUtcTnkihlb5Hm
PLrmox8zCE+DLH01vt9hC+eO3iEBOLpAxpFCdN3FEQLFSN95GpLmfxJGt0q+CMiB
j9lJVPdoh1N/7eSYECzr7ZtVSc5+J+JBUYQjypDu/235V9NQSZFiNzb/Egosht9J
oMqhAA9L5BhWus2yjf1Yx/7kbxc4JHCavoWH+4LPTQ/kOHeJAf13vsxslwCa0X+Y
BopYI+UMYSztTR7zcQgwehFjTg/nrNEgM0ibjgcAEQEAAYkBHwQYAQIACQUCUH8o
lAIbDAAKCRCt9KteVcmH1wXkB/40z0lu6V44Ydfixqo1Z7CgxfL2w5OXc1jyXVaR
jmbvDOUa+tUBmLUFKpgMBUYYA720UBmRSC7frSkDkTK8O1cU2XVIGdd6Vh9MyC4S
PqjyP2AoBgYeZtZ36aHoUo0cE4pi3tr4KoU5jMJykFSpWGYNhk9NPTak3tLrZCUg
jDKi17OTda/WgB0rC5SIUEjT+IkCJbn9i26jiLf6vV4oY4QQceMg1hnVuL5PGqIV
qlDWGNHg6ojZxnWJJyFZgKOX7yhfZNuVk64DlNoLH6lM1EgpiiTpeJ7AUJenXivf
bFPIONaxWva2HWgjaUJK8fNZIp9jX5wcdqndwtBTxnUWW6uT
=/PVg
-----END PGP PUBLIC KEY BLOCK-----
</pre>


<h3>Acknowledgments</h3>
<p>The following researchers have submitted reports to Simple that have contributed to the continuing security of Simple's services and we would like to gratefully acknowledge their efforts.</p>

<h4>2013</h4>
<div class="paragraph-grid-three-up">
  <ul>
    <li><strong>Kamil Sevi</strong> <a href="https://twitter.com/kamilsevi">Profile</a></li>
    <li><strong>shashank</strong> <a href="https://twitter.com/cyberboyindia">Profile</a></li>
    <li><strong>Anand Meyyappan</strong> <a href="http://www.facebook.com/anand.m27">Profile</a></li>
    <li><strong>Sahil Sehgal</strong> <a href="https://twitter.com/xXSehgalXx">Profile</a></li>
    <li><strong>Ahmad Ashraff</strong> <a href="https://twitter.com/yappare">Profile</a></li>
    <li><strong>Ehraz Ahmed</strong> <a href="https://twitter.com/securityexe">Profile</a></li>
    <li><strong>Umraz Ahmed</strong> <a href="https://twitter.com/umrazahmed">Profile</a></li>
    <li><strong>Shahee Mirza</strong> <a href="https://twitter.com/shaheemirza">Profile</a></li>
	<li><strong>Devesh Bhatt</strong> <a href="https://twitter.com/deveshbhatt11">Profile</a></li>
  </ul>
</div>